.services-area-container {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  gap: 30px;
}

.services-info {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  border: 1px solid rgb(25, 0, 255);
}

.services-info h3 {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0064d9;
  text-transform: uppercase;
  text-decoration: underline;
  border: 1px solid red;
}

.services-info h2 {
  width: 35%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid red;
}

.services-info h2 span {
  color: #0064d9;
}

.services-area-items {
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border: 1px solid rgb(238, 0, 255);
}

.services-area-btns {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(21, 0, 255);
}

.sevices-first-btns {
  width: 140px; 
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #0085ff;
  border-radius: 20px;
  /* aqui el tamaño de los botones */
}

.services-area-btns button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  color: white;
  background-color: transparent;
  /* Eliminar el color de fondo predeterminado */
}

.services-area-btns button.active { 
  width: 90%;
  height: 50%;
  background-color: #0064d9;
  border-radius: 16px 16px;
  /* aqui estan los estilos de los botones interir exterior */
}

.sevices-first-btns hr {
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 3px;
  background-color: #0085ff;
}

/* .sevices-first-btns button,
.services-second-btns button {
  background-color: #0064d9;
}

.sevices-first-btns button.active,
.services-second-btns button.active {
  background-color: #0064d9;
} */

.services-second-btns {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0064d9;
  border: 3px solid #0085ff;
  border-radius: 36px;
  /* aqui los estilos de las flechas de abajo */
}

.services-second-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #9fbad800;
}

.services-second-btns img {
  width: 30px;
  height: 30px;
}

.services-second-btns hr {
  height: 80%;
  width: 8px;
  border-radius: 3px;
  background-color: #0085ff;
  border: none;
}

.services-area-slider-container {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 255, 251);
  overflow-x: scroll;
  gap: 20px;
}

.services-area-slider-container p{
  position: absolute;
  z-index: 2;
  color: white;
}

.services-card {
  position: relative;
  z-index: 0;
  width: 250px;
  height: 100%;
  border-radius: 16px;
}

.services-area-slider-container .services-card-arrow {
  width: 40px;
  height: 40px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.395);
  border-radius: 16px 0 16px 0;
  transform: rotate(270deg);
  position: absolute;
  z-index: 2;
}

@media (max-width:600px) {
  .services-area-container {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    gap: 30px;
    border: 1px solid red;
  }
}