.our-story-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.cont-our-story-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.our-story-info {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-left: 5%;
}

.our-story-info h3 {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0064d9;
  text-transform: uppercase;
  text-decoration: underline;
}

.our-story-info h2 {
  width: 40%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.our-story-info h2 span {
  color: #0064d9;
}

.our-story-info p {
  width: 60%;
  max-width: 600px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.1;
}

.our-story-slider-container {
  width: 95%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  border-radius: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.img-slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-radius: 24px;
}

.ourStory-slider-img {
  width: 600px;
  min-width: 700px;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.our-story-second-info {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.our-story-btns {
  width: 10%;
  height: 60px;
  min-width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004FC6;
  border: 2px solid #0085ff;
  border-radius: 36px;
}

.our-story-btns button {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background-color: #0065d900;
  border: none;
}

.our-story-btns button:hover {
  height: 90%;
  background-color: #2f7dd6;
  /* border-radius: 0 36px 36px 0; */
}

.our-story-btns img {
  width: 40px;
  height: 40px;
  background-color: #0065d900;
}

.our-story-second-info hr {
  height: 80%;
  width: 6px;
  border: none;
  background-color: #0085ff;
  border-radius: 4px;
}

.parraf-bottom {
  width: 70%;
}

.parraf-bottom p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.1;
  max-width: 800px;
  width: 75%;
  text-align: end;
}

.arrow-right {
  transform: rotate(180deg);
}



@media (max-width: 1024px) {
  .our-story-container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .cont-our-story-items {
    width: 100%;
  }

  .our-story-info {
    width: 95%;
  }

  .our-story-info h3 {
    width: 30%;
  }

  .our-story-info h2 {
    width: 40%;
    font-size: 2.6rem;
  }

  .our-story-info p {
    width: 80%;
  }

  .our-story-slider-container {
    width: 95%;
    height: 400px;
  }

  .ourStory-slider-img {
    width: 600px;
    min-width: 420px;
  }

  .our-story-second-info {
    gap: 20px;
  }

  .our-story-btns {
    min-width: 160px;
  }

  .parraf-bottom {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .our-story-container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .cont-our-story-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .our-story-info {
    width: 90%;
    gap: 40px;
    padding-left: 5%;
  }

  .our-story-info h3 {
    width: 90%;
    font-size: 1.4rem;
  }

  .our-story-info h2 {
    width: 60%;
    font-size: 2.2rem;
  }

  .our-story-info p {
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
  }

  .our-story-slider-container {
    width: 90%;
    height: 320px;
    padding-left: 5%;
  }

  .img-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .ourStory-slider-img {
    width: 260px;
    min-width: 250px;
    object-position: left;
  }

  .our-story-second-info {
    width: 90%;
    height: 240px;
    flex-direction: column;
    padding-left: 5%;
  }

  .our-story-btns {
    width: 20%;
    min-height: 50px;
    min-width: 150px;
  }

  .our-story-btns button {
    width: 100%;
    height: 100%;
  }

  .our-story-btns img {
    width: 30px;
    height: 30px;
  }

  .our-story-second-info hr {
    height: 80%;
    min-width: 2px;
  }

  .parraf-bottom {
    width: 90%;
  }
  
  .parraf-bottom p {
    font-size: 1rem;
    max-width: 400px;
    text-align: start;
  }

  
}
