
.cont-our-story-items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.our-story-info {
  width: 70%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
}

.our-story-info h3 {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0064d9;
  text-transform: uppercase;
  text-decoration: underline;
}

.our-story-info h2 {
  width: 40%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.our-story-info h2 span {
  color: #0064d9;
}

.our-story-info p {
  width: 60%;
  max-width: 600px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.1;
}



.img-slider-container {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.img-slider-container::-webkit-scrollbar {
  height: 0px;
}

.img-slider-container .ourStory-slider-img:first-child{
  margin-left:5%;
}

.img-slider-container .ourStory-slider-img:last-child{
  margin-right:25%;
}

.ourStory-slider-img {
  min-width: 600px;
  height: 100%;
  border-radius: 24px;
  position: relative;
  cursor: zoom-in;
  overflow: hidden;
}

.ourStory-slider-img-bg{
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
  z-index: -2;
  transition: transform 0.3s;
  
}

.ourStory-slider-img:hover .ourStory-slider-img-bg {
  transform: scale(1.1);
}

.ourStory-slider-img:hover .cont-zoom {
  background-color: rgb(180, 0, 0);
  border: 2px solid red;
}

.our-story-second-info {
  margin-left: 5%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.our-story-btns {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d90000;
  border: 2px solid #ff2121;
  border-radius: 36px;
}

.our-story-btns button {
  width: 100%;
  border-radius: 0px 36px 36px 0px ;
  background-color: #0065d900;
  border: none;
  cursor: pointer;
}

.our-story-btns button:hover {
  height: 100%;
  background-color: #ff2121;
}

.our-story-btns button:first-child:hover {
  border-radius: 36px 0px 0px 36px ;
}

.our-story-btns img {
  width: 12px;
}

.our-story-second-info hr {
  height: 60%;
  width: 4px;
  border: none;
  background-color: #ff2121;
  border-radius: 4px;
}

.parraf-bottom {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.parraf-bottom p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.1;
  max-width: 800px;
  text-align: end;
}

.arrow-right {
  transform: rotate(180deg);
}



@media (max-width: 1024px) {
  .our-story-info {
    width: 90%;
  }

  .our-story-info h3 {
    width: 30%;
  }

  .our-story-info h2 {
    width: 40%;
    font-size: 2.6rem;
  }

  .our-story-info p {
    width: 80%;
  }


  .ourStory-slider-img {
    min-width: 500px;
  }

  .our-story-second-info {
    width: 90%;
  }

  .parraf-bottom {
    width: 60%;
  }

  .img-slider-container .ourStory-slider-img:last-child{
    margin-right:5%;
  }
}

@media (max-width: 600px) {

  .our-story-info {
    margin-left: 7%;
    width: 85%;
  }

  .our-story-info h3 {
    width: 90%;
    font-size: 1.4rem;
  }

  .our-story-info h2 {
    width: 85%;
    font-size: 2.2rem;
  }

  .our-story-info p {
    width: 90%;
    font-size: 1rem;
  }


  .img-slider-container {
    height: 50vh;
  }

  .img-slider-container .ourStory-slider-img:first-child{
    margin-left:7%;
  }

  .img-slider-container .ourStory-slider-img:last-child{
    margin-right:8%;
  }

  .ourStory-slider-img {
    min-width: 65%;
    object-position: left;
  }

  .our-story-second-info {
    width: 85%;
    flex-direction: column;
    margin-left:7%;
  }

  .our-story-btns {
    width: 130px;
  }

  .our-story-btns img {
    width: 15px;
  }

  .our-story-second-info {
    gap: 40px;
  }

  .parraf-bottom {
    width: 90%;
  }
  
  .parraf-bottom p {
    font-size: 1rem;
    text-align: start;
  }
}
