.cards-container {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-ad-animation {
  width: 87%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.banner-items-left {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  transition: flex 0.3s ease;
}

.banner-items-right {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  transition: flex 0.3s ease;
}

.span-banner-left {
  width: 100%;
  height: 70%;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(#1d1d1dce, #29292900);
  position: absolute;
  top: 0;
}

.span-banner {
  width: 100%;
  height: 70%;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(#1d1d1dce, #29292900);
  position: absolute;
  top: 0;
}

.banner-title {
  width: 85%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  gap: 7px;
}

.banner-title h3 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner-title p {
  width: 80%;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
}

.links-banner-btns {
  width: 85%;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.main-button-banner {
  height: 40px;
  padding: 0px 5px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(180, 0, 0);
  border: 2px solid red;
  border-radius: 36px;
  text-decoration: none;
}

.main-button-banner:hover{
  background-color:red;
}

.icon-btn-banner-ad {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #0064d9;
  transform: rotate(180deg);
}

.icon-btn-banner-ad img {
  width: 10px;
}

.see-more-btn {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3px;
  letter-spacing: 1px;
}

.social-banner-btns {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-banner-btns a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180, 0, 0);
  border: 2px solid red;
  border-radius: 50%;
}

.social-banner-btns a:hover{
  background-color: red;
}

.social-banner-btns img {
  width: 20px;
}

.social-banner-btns-left {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-banner-btns-left a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180, 0, 0);
  border: 2px solid red;
  border-radius: 50%;
}

.social-banner-btns-left a:hover{
  background-color:red;
}

.social-banner-btns-left img {
  width: 20px;
}

.banner-img-home {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 36px;
}

.banner-items-left:hover {
  flex: 80%;

  .social-banner-btns-left {
    display: flex;
  }

  .span-banner-left {
    background: linear-gradient(#0064d9, #0065d900);
  }
}

.banner-items-right:hover {
  flex: 80%;

  .social-banner-btns {
    display: flex;
  }

  .span-banner {
    background: linear-gradient(#0064d9, #0065d900);
  }
}

@media (max-width: 1024px) {
  .cards-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cont-ad-animation {
    width: 85%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .banner-items-left {
    width: 100%;
    height: 50%;
  }

  .banner-items-right {
    width: 100%;
    height: 50%;
  }

  .banner-items-left:hover {
    width: 100%;
  }

  .banner-items-right:hover {
    width: 100%;
  }

  .span-banner-left {
    background: linear-gradient(#0064d9, #0065d900);
  }

  .span-banner {
    background: linear-gradient(#0064d9, #0065d900);
  }

  .banner-title {
    gap: 7px;
  }

  .banner-title h3 {
    font-size: 1.4rem;
  }

  .banner-title p {
    font-size: 1rem;
  }

  .social-banner-btns {
    display: flex;
  }

  .social-banner-btns-left {
    display: flex;
  }

  .see-more-btn {
    font-size: 0.9rem;
  }
}
