.footer-container {
  width: 100%;
  min-height: 350px;
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.918);
}

.cont-info-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-logo {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footer-logo img {
  width: 140px;
  margin-left: 7%;
}

.direction-footer{
  color: white;
  font-weight: 200;
  font-size:1.0rem;
  width: 60%;
  letter-spacing: 0.5px;
  line-height: 1.1;
  margin-left: 10%;
}

.info-footer-container {
  width: 52%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.footer-services-info {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.footer-services-info h4 {
  font-size: 1.3rem;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.footer-services-column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footer-first-column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.footer-first-column p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.footer-contact-info {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.footer-contact-info h4 {
  font-size: 1.3rem;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.footer-contact-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-contact-items img{
  width: 20px;
}

.footer-contact-items p{
  font-size: 1.0rem;
  color: white;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.footer-social-info {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10%;
}

.footer-social-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid transparent;
  text-decoration: none;
}

.footer-social-items img {
  width: 20px;
}

.footer-social-items:hover{
  border: 1px solid white;
}

.line-info-bottom {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.192);
  margin-top: 40px;
}

.line-info-bottom p {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.footer-img {
  height: 100%;
  width: 100%;
  z-index: -3;
  position: absolute;
  object-fit: cover;
}

@media (max-width: 1024px) {

  .footer-container {
    padding-top: 50px;
    margin-bottom: 10vh;
  }

  .line-info-bottom {
    width: 100%;
  }

  .cont-info-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .footer-logo {
    width: 85%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .info-footer-container {
    width: 85%;
    height: 70%;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .footer-logo img {
    margin-left: 0%;
  }
  
  .direction-footer{
    width: 35%;
    margin-left:0%;
  }

  .footer-social-info {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 0%;
  }
}

@media (max-width: 600px) {

  .info-footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
  }

  .footer-services-info {
    width: 100%;
  }

  .direction-footer{
    width: 50%;
    line-height: 1.3;
  }

}
