.certificate-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 50px;
}

.certificate-container h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(113, 113, 113);
  letter-spacing: 1px;
  margin-left: 5.5%;
}

.logo-certificate-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
  gap: 3%;
  margin-left: 3%;
}

.certificate-logo {
  width: 110px;
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
}

.certificate-logo:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.certificate-logo-last {
  width: 160px;
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
}
.certificate-logo-last:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

@media (max-width: 1024px) {
  .logo-certificate-container {
    width: 100%;
    margin-top: 10px;
  }

  .certificate-container h2 {
    font-size: 1.4rem;
  }

  .certificate-logo {
    width: 100px;
  }
  .certificate-logo:hover {
    transform: scale(1.1);
  }
  .certificate-logo-last {
    width: 110px;
    filter: grayscale(1);
    transition: all ease-in-out 0.3s;
  }
  .certificate-logo-last:hover {
    transform: scale(1.1);
    filter: grayscale(0);
  }
}

@media (max-width: 600px) {
  .certificate-container {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .logo-certificate-container {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 0%;
  }

  .certificate-container h2 {
    width: 80%;
    font-size: 1rem;
    margin-left: 7%;
  }

  .certificate-logo {
    width: 65px;
  }

  .certificate-logo:hover {
    transform: scale(1.1);
  }
  
  .certificate-logo-last {
    width: 70px;
    filter: grayscale(1);
    transition: all ease-in-out 0.3s;
  }
}
