.cont-reco-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.recomendations-info {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-left: 5%;
}

.recomendations-info h3 {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0064d9;
  text-transform: uppercase;
  text-decoration: underline;
}

.recomendations-info h2 {
  width: 40%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.recomendations-info h2 span {
  color: #0064d9;
}

.recomendations-info p {
  width: 45%;
  max-width: 600px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.1;
}

.recomendations-slider-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  gap: 30px;
}

.recomendations-slider-container .card-recomendations-container:first-child {
  margin-left: 5%;
}

.recomendations-slider-container .card-recomendations-container:last-child {
  margin-right: 25%;
}

.card-recomendations-container {
  min-width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.824);
}

.user-recomendations-info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-box-reco-container {
  width: 55%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #0085ff;
  border-right: 2px solid #0085ff;
  background-color: #0065d9bd;
  border-radius: 18px 0 24px 0;
  gap: 15px;
}

.recomendations-slider-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15px;
}

.info-recomendation-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.info-recomendation-item h6 {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.info-recomendation-item p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.social-icon-recomendations {
  width: 30px;
  margin-right: 15px;
}

.comment-recomendation-area {
  width: 85%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.comment-recomendation-area p {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.comment-recomendation-area img {
  width: 35px;
}

.btns-container-recomendations {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5%;
}

.recomandations-btns {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d90000;
  border: 2px solid #ff2121;
  border-radius: 36px;
}

.recomandations-btns button {
  width: 100%;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
  background-color: #0065d900;
  border: none;
  cursor: pointer;
}

.recomandations-btns button:hover {
  background-color: #ff2121;
}

.recomandations-btns button:last-child:hover {
  background-color: #ff2121;
  border-radius: 0px 50px 50px 0px;
}

.recomandations-btns img {
  width: 14px;
}

.recomandations-btns hr {
  height: 60%;
  width: 4px;
  border: none;
  background-color: #ff2121;
  border-radius: 4px;
}

.arrow-right {
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .cont-reco-items {
    width: 100%;
  }

  .recomendations-info {
    width: 95%;
  }

  .recomendations-info h3 {
    width: 30%;
  }

  .recomendations-info h2 {
    width: 40%;
    font-size: 2.6rem;
  }

  .recomendations-info p {
    width: 60%;
  }

  .recomendations-slider-container {
    width: 100%;
    height: 280px;
  }

  .card-recomendations-container {
    min-width: 360px;
  }

  .comment-recomendation-area {
    width: 80%;
  }

  .blue-box-reco-container {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .cont-reco-items {
    margin-bottom: 80px;
  }

  .recomendations-info {
    width: 90%;
    padding-left: 7%;
  }

  .recomendations-info h3 {
    font-size: 1.3rem;
  }

  .recomendations-info h2 {
    width: 80%;
    font-size: 2.2rem;
  }

  .recomendations-info p {
    width: 80%;
  }

  .recomendations-slider-container {
    width: 100%;
    height: 42vh;
  }

  .blue-box-reco-container {
    width: 75%;
  }

  .card-recomendations-container {
    min-width: 70%;
  }

  .info-recomendation-item h6 {
    font-size: 1rem;
  }

  .info-recomendation-item p {
    font-size: 0.8rem;
  }

  .social-icon-recomendations {
    width: 25px;
  }

  .comment-recomendation-area {
    width: 80%;
  }

  .comment-recomendation-area p {
    font-size: 1rem;
    line-height: 1.2;
  }

  .recomendations-slider-container .card-recomendations-container:first-child {
    margin-left: 7%;
  }

  .recomendations-slider-container .card-recomendations-container:last-child {
    margin-right: 7%;
  }

  .btns-container-recomendations {
    margin-left: 7%;
  }
}
