.body-app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.header-menu-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.header-container {
  width: 100%;
  height: 100vh;
}

.header-title-container {
  width: 50%;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.info-home-title {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.info-home-title h1 {
  width: 100%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info-home-title h3 {
  width: 100%;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.home-btns {
  width: 400px;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-contact-btn-cont {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.879);
  border: 2px solid white;
  border-radius: 24px;
  padding: 5px 0px;
}

.header-contact-btn-cont .contact-button {
  color: #0064d9;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header-contact-btn-cont img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0064d9;
  padding: 4px;
  transform: rotate(180deg);
}

.home-social-links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home-social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.header-house-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-mobile-bg{
  display: none;
}

.aisde-menu-container {
  position: fixed;
  right: 0;
  width: 20%;
  height: 100vh;
  z-index: 9;
}

.bottom-benefits-container {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 780px;
  height: 130px;
}

@media (max-width:1024px) {
  .header-title-container {
    width: 80%;
    height: 300px;
    position: absolute;
  }

  .info-home-title {
    width: 100%;
    height: 60%;
  }

  .info-home-title h1 {
    font-size: 2.8rem;
  }

  .info-home-title h3 {
    font-size: 1.6rem;
  }

  .aisde-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
  }

  .bottom-benefits-container{
    position: absolute;
    left: 80%;
    top: 15%;
    width: 19%;
    height: 650px;
  }
}

@media (max-width:600px){

  .body-app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .header-menu-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }
  
  .header-container {
    width: 100%;
    height: 100vh;
  
  }
  .header-title-container {
    width: 90%;
    height: 280px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .info-home-title {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
 
  }

  .info-home-title h1 {
    width: 80%;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;

  }
  
  .info-home-title h3 {
    width: 80%;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
  
  }

  .home-btns {
    width: 100%;
    max-width: 360px;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
  }

  .header-contact-btn-cont {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.879);
    border: 2px solid white;
    border-radius: 24px;
    padding: 5px 0px;

  }

  .home-social-links {
   display: none;
  }

  .header-mobile-bg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .header-house-bg{
    display: none;
  }

  .aisde-menu-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
  }
}
