.benefits-container {
  position: absolute;
  width: 50%;
  max-width: 800px;
  height: 90px;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #0085ff;
  border-radius: 0 42px 0 0;
  background-color: #0064d9;
}

.benefits-responsive-container {
  display: none;
}


.benefitss-items {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -40px;
  gap: 10px;
}

.benefits-container hr {
  height: 50%;
  border: 1px solid #0085ff;
  border-radius: 5px;
}

.first-item-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.first-item-column .box-benefits-home{
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-item-column img {
  width: 25px;
}

.first-item-column h4 {
  color: white;
  font-size: 2.0rem;
  font-weight: 600;
}

.item-name {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.1;
}


@media (max-width: 1024px) {
  .benefits-container {
    display: none;
  }

  .benefits-responsive-container {
    position: absolute;
    height: 70%;
    max-height: 600px;
    width: 12%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid #2294ff;
    background-color: #0065d9d7;
    backdrop-filter: blur(10px);
    border-radius: 0px 0 0 30px;
  }

  .responsive-benefits-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35%;
    width: 100%;
  }

  .cont-icon-responsive-benefits{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .responsive-benefits-items img {
    width: 20px;
  }

  .responsive-benefits-items h3 {
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 7px;
  }

  .responsive-benefits-items p {
    color: white;
    font-weight: 600;
    font-size: 1.0rem;
    text-align: center;
    letter-spacing: 1px;
  }

  .benefits-responsive-container hr {
    width: 60%;
    border: 1px solid #0084ff;
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .benefits-responsive-container {
    height: 53%;
    min-height: 350px;
    width: 20%;
    top: 25%;
    right: 0px;
    border-radius: 30px 0 0 30px;
  }

  .cont-icon-responsive-benefits{
    width: 30px;
    height: 30px;
  }

  .responsive-benefits-items img {
    width: 16px;
  }

  .responsive-benefits-items h3 {
    font-size: 1.4rem;
  }

  .responsive-benefits-items p {
    font-size: 0.8rem;
  }

  .benefits-responsive-container hr {
    width: 50%;
  }
}
